tareasWeb/49/esquema2.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="c1">
		<xs:sequence>
			<xs:element name="a" type="xs:string"/>
			<xs:element name="b" type="xs:string"/>
			<xs:element name="c" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="root" type="c1"/>
</xs:schema>
