tareasWeb/49/esquema10.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:complexType name="base">
<xs:sequence>
<xs:element name="b" type="xs:string"/>
</xs:sequence>
</xs:complexType>
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="a" type="base"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
