tareasWeb/49/esquema4.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="c1">
		<xs:choice>
		<xs:element name="a" type="xs:string"></xs:element>
		<xs:element name="b" type="xs:string"></xs:element>
		<xs:element name="c" type="xs:string"></xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:element name="root" type="c1"></xs:element>
</xs:schema>
